@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: "RobotoB";
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "RalewayR";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: "RobotoBlack";
    src: url(../fonts/Roboto-Black.ttf);
}

a {
    color: black;
}

body {
    font-family: "Raleway";
    padding-top: 10px;
    font-size: 16px;
}


/* Navigation */
.navigation {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 10px;
    justify-content: space-between;
}

.logo-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-right: 64px;
}

.logo-img {
    width: 41px;
    height: 32px;
}

.logo-name {
    font-size: 12px;
    font-family: "RobotoB";
    white-space: nowrap;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-right: 48px;
}

.nav-list__item {
    white-space: nowrap;
}

.search-field {
    position: relative;
    margin-right: 22px;
}

.search__input {
    width: 340px;
    height: 48px;
    border-radius: 22px;
    border: 2px solid #969696;
    padding-left: 20px;
}

.search__input::placeholder {
    color: #969696;
    font-family: "RalewayR";
}

.search-ico-field {
    background: #BCFD49;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 4px;
    top: 4px;
}

.search-ico {
    width: 24px;
    height: 24px;
}

.fast-info-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fast-info-content {
    font-family: "RobotoB";
    white-space: nowrap;
}

.nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 7px;
    display: none;
    cursor: pointer;
    padding: 5px 10px;
}

.rectangle {
    width: 30px;
    height: 4px;
    background-color: #000;
}




.hero-section {
    position: relative;
}

/* Slider */
.hero-slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
.hero-slider-slides {
    display: flex;
    width: 100%;
    height: 100%;
}
  
.hero-slider-slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.hero-pagination {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
  
.hero-pagination button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 7px;
    width: 10px;
    height: 14px;
    cursor: pointer;
    margin: 0 5px;
}
  
.hero-pagination button.active {
    background-color: #fff;
}

.hero-slider-next, .hero-slider-prev {
    position: absolute;
    top: 31%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.hero-slider-next {
    right: 5%;
}

.hero-slider-prev {
    left: 5%;
}

.slider-button-circle {
    r: 19.5;
}

.hero-header {
    font-family: "RobotoBlack";
    color: #ffffff;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 64px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: translateX(-50%);
}

.hero-go-button {
    background-color: #BCFD49;
    border: none;
    font-family: "Raleway";
    cursor: pointer;
    height: 56px;
}

.hero-large-button {
    width: 384px;
    border-radius: 48px;
    font-size: 24px;
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-search-field {
    background: #F2F1F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 1200px;
    padding: 0 24px 0 0;
    border-radius: 80px;
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%);
}

.hero-search-categories {
    display: flex;
}

.hero-search-category {
    display: flex;
    align-items: center;
    padding: 0 42px 0 24px;
    height: 80px;
    gap: 16px;
}

.hero-search-input {
    color: #6C7072;
    border: none;
    background-color: transparent;
    width: 203px;
    outline: none;
}

.hero-medium-button {
    width: 160px;
    border-radius: 48px;
}

.partition-section {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

/* Popular Searches */
.popular-searches {
    padding: 128px 0;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-header {
    font-size: 64px;
    font-family: "RobotoB";
    margin: 0 auto;
    padding-bottom: 64px;
}

.popular-searches__list {
    display: flex;
    flex-direction: row;  
    justify-content: center; 
    flex-wrap: wrap;
    gap: 15px;
}

.popular-searches-list__item {
    border: 1px solid #72777A;
    border-radius: 56px;
    width: 190px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
}



/* Recently wieved trips */
.recently-trips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.recently-trips__list {
    display: flex;
    justify-content: space-between;
}

.recently-trips-list__item {
    width: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #CECACA;
    border-radius: 48px;
    box-shadow: none;
}

.recently-trips-preview {
    position: relative;
    margin-bottom: 24px;
}

.recently-trips-preview-price {
    background-color:#BCFD49;
    width: 196px;
    height: 46px;
    border-top-left-radius: 46px;
    border-bottom-right-radius: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "RobotoB";
    position: absolute;
    bottom: 0;
    right: 0;
}

.recently-trips-list-item-wrapper {
    margin: 0 24px;
    padding-bottom: 32px;
    border-bottom: 1px dashed #72777A;
}

.recently-trips-list-item-header {
    font-family: "RobotoB";
    font-size: 24px;
}

.recently-trips-rating-field {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
}

.recently-trips-rating-field-stars {
    display: flex;
}

.recently-trips-rating-field-number {
    font-family: "RobotoB";
}

.recently-trips-description {
    display: flex;
    align-items: center;
}

.recently-trips-small-button {
    margin: 32px 0 40px;
    width: 209px;
    height: 48px;
    border-radius: 48px;
}









@media screen and (max-width: 1380px) {
    .hero-search-input::placeholder {
        font-size: 14px;
    }
    .hero-search-category {
        padding-right: 20px;
    }
    .hero-search-field {
        width: 1080px;
    }
}

@media screen and (max-width: 1215px) {
    .search__input {
        max-width: 250px;
    }
    .hero-header, .section-header {
        font-size: 50px;
    }
    .hero-large-button {
        width: 340px;
        border-radius: 40px;
        font-size: 20px;
        height: 50px;
    }
    .hero-medium-button {
        width: 150px;
    }
    .hero-search-category {
        padding-right: 0;
    }
    .hero-search-field {
        width: 1000px;
    }
}

@media screen and (max-width: 1120px) {
    .logo-field {
        margin-right: 20px;
    }
    .nav__list {
        margin-right: 20px;
    }
    .hero-search-category {
        padding-left: 5px;
    }
    .hero-search-field {
        padding: 0 16px;
    }
    .hero-search-field {
        width: 900px;
        height: 60px;
    }
    .hero-medium-button {
        width: 120px;
        height: 46px;
    }
    .hero-search-category {
        height: 60px;
    }
}

@media screen and (max-width: 1050px) {
    .logo-name {
        font-size: 10px;
    }
    .nav-list__item a {
        font-size: 14px;
    }
    .hero-header, .section-header {
        font-size: 44px;
    }
    .hero-large-button {
        width: 280px;
        border-radius: 40px;
        font-size: 18px;
        height: 44px;
    }
    .hero-medium-button {
        width: 130px;
        height: 44px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1010px) {
    .nav-mobile {
        display: flex;
    }
    .nav__list, .fast-info {
        display: none;
    }
    .logo-name {
        font-size: 12px;
    }
    .logo-field, .search-field {
        margin: 0;
    }
    .hero-search-field {
        flex-direction: column;
        width: auto;
        height: auto;
        border-radius: 10px;
        padding: 8px 8px;
        bottom: 10%;
    }
    .hero-search-categories {
        flex-direction: column;
    }
    .partition-section {
        border: none;
    }
    .hero-search-category {
        padding: 0;
        height: 40px;
    }
    .hero-search-input {
        width: 180px;
    }
    .hero-medium-button {
        height: 36px;
    }
}

@media screen and (max-width: 860px) {
    .hero-header, .section-header {
        font-size: 36px;
    }
    .hero-search-input::placeholder {
        font-size: 12px;
    }
    .hero-search-category {
        height: 35px;
    }
}

@media screen and (max-width: 680px) {
    .hero-header, .section-header {
        font-size: 28px;
    }
    .hero-search-field {
        display: none;
    }
    .popular-searches {
        padding: 64px 0;
    }
    .popular-searches-list__item {
        font-size: 14px;
        width: 170px;
    }
}

@media screen and (max-width: 520px) {
    .hero-large-button {
        width: 200px;
    }
    .popular-searches {
        padding: 32px 0;
    }
    .section-header {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 420px) {
    .navigation {
        height: 60px;
    }
    .search__input {
        font-size: 12px;
        height: 30px;
        width: 200px;
    }
    .search-ico-field {
        width: 24px;
        height: 24px;
        right: 3px;
        top: 3px;
    }
    .hero-header, .popular-searches-header {
        font-size: 22px;
    }
    .hero-large-button {
        font-size: 14px;
        width: 160px;
        height: 34px;
    }
}

@media screen and (max-width: 380px) {
    .search__input {
        width: 180px;
    }
}